<div id="wrapper">
	<header id="header">
		<h1 class="stat">Tweets Processed</h1>
		<div id="stats"></div>
	</header>
	<div id="geo"></div>
	<div id="sample">
		<div id="tw"><div id="tweet"></div></div>
	</div>
</div>

<script type="text/javascript" src="/lib/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/lib/jquery.tmpl.js"></script>  

<script type="text/javascript" src="/lib/D3/d3.js"></script>
<script type="text/javascript" src="/lib/D3/d3.layout.js"></script>

<script type="text/javascript" src="/lib/Three/ThreeWebGL.js"></script>
<script type="text/javascript" src="/lib/Three/ThreeExtras.js"></script>
<script type="text/javascript" src="/lib/Three/RequestAnimationFrame.js"></script>

<script src="/socket.io/socket.io.js"></script>

<!--

-->
<script type="text/javascript" src="/js/chrome.js"></script>
<script type="text/javascript" src="/js/globe.js"></script>
<script type="text/javascript" src="/js/card.js"></script>
<script type="text/javascript" src="/js/sunburst.js"></script>
<script type="text/javascript" src="/js/data.js"></script>

