module.exports = config = {
	twitter: {
		screen_name: 'CHANGE_ME',
		password: 'CHANGE_ME'
	},
	mongodb: {
		host: '127.0.0.1',
		port: 27017,
	},
	express:{
		port: 3001
	},
	app: {
		title: 'Twitter Geo Dashboard',
		geoBoundingBox: [-180, -85, 180, 85],
		bestTweetSampleInterval: 8000,
		statsInterval: 300,
		geoStatsInterval: 3000
	}
}